<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/forme_demo.css" />
<title>Forme Demo - <%= @page_title %></title>
</head>

<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">Forme Demo</a>

      <ul class="nav">
        <li><a href="/album/basic/default">Default</a></li>
        <li><a href="/album/basic/explicit">Explicit</a></li>
        <li><a href="/album/basic/table">Table</a></li>
        <li><a href="/album/basic/list">List</a></li>
        <li><a href="/album/basic/date">Date</a></li>
        <li><a href="/album/basic/alt_assoc">Association</a></li>
        <li><a href="/album/basic/readonly">Read Only</a></li>
        <li><a href="/album/basic/text">Text</a></li>
        <li><a href="/album/nested">Nested</a></li>
        <li><a href="/artist/nested">Nested 2</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <h1><%= @page_title %></h1>

  <%= yield %>

  <br />
  <% if @templ %>
    <h2>Settings</h2>
    <pre>form_attr = <%= form_attr.inspect %>
form_opts = <%= form_opts.inspect %></pre>

    <% if @css %>
      <style type="text/css"><%= @css %></style>
      <h2>Custom CSS</h2>
      <pre><%= @css %></pre>
    <% end %>

    <h2>Template Code</h2>
    <pre><%= File.read("views/#{@templ}.erb") %></pre>
  <% end %>
</div>

</body>
</html>

